<!DOCTYPE html>
<html>
  <head>
    <title>Cloudify</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Open+Sans:300|Lobster' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if ENV["GA_TAG"].present? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= ENV["GA_TAG"] %>', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>
  </head>

  <body>
    <div class="alert-row">
      <% flash.each do |type, message| %>
      <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
